# H1:Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Java

# Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. TensorFlow

# Data Science Tools


|Data Science Tools | 
| ------ | 
|Apache Spark|
|BigML| 
|SAS|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

# Objectives:
* List popular languages for Data Science
* List popular libraries used for Data Science
* List some Data Science tools
* List some arithmetic operations

## Author
Yeshwanth Sunkara